## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [14]:
populations = np.round(np.random.rand(4), 4) * 10000
countries = ["TW","JP","HK","SG"]

In [17]:
data = np.vstack([countries, populations]).T

In [18]:
df = pd.DataFrame(data=data, columns=["Country", "Population"])

In [19]:
df.head()

  Country Population
0      TW     9288.0
1      JP     6857.0
2      HK     3514.0
3      SG     8562.0

In [20]:
df.max()

Country           TW
Population    9288.0
dtype: object